/* 
==============================================
CONTENT:	Spotify Bowie 
AUTHOR:		Gunnar Normand
==============================================

TABLE OF CONTENTS:

1. Imports
2. Main Layout
3. Content

==============================================
*/
/* 1. Imports ================================= */
@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/FuturaTOT-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Futura-Demi';
  src: url("../fonts/FuturaTOT-Demi.otf") format("opentype"); }

@font-face {
  font-family: 'Futura-Medi';
  src: url("../fonts/FuturaTOT-Medi.otf") format("opentype"); }

@font-face {
  font-family: 'ApexSerif-Book';
  src: url("../fonts/ApexSerif_Book.otf") format("opentype"); }

@font-face {
  font-family: 'FuturaTOT-Demi';
  src: url("../fonts/FuturaTOT-Demi.otf") format("opentype"); }

@font-face {
  font-family: 'FuturaTOT-Book';
  src: url("../fonts/FuturaTOT-Book.otf") format("opentype"); }

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura-Bold";
  font-weight: 700;
  text-align: left;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

h1 {
  text-transform: uppercase;
  font-family: "Futura-Bold";
  text-shadow: 5px 5px 0px #8a71ae, 10px 10px 0px #1f102f;
  font-size: 2.55em;
  line-height: 1.2em; }

h2 {
  font-family: "Futura-Demi";
  font-size: 2em;
  line-height: 1.2em; }

h3 {
  font-size: 1.75em;
  line-height: 1.2em; }

h4 {
  color: #1f102f;
  font-family: inherit;
  font-size: 1.5em;
  line-height: 1.2em; }

h5 {
  font-size: 1.375em;
  line-height: 1.2em; }

h6 {
  font-size: 1.125em;
  line-height: 1.2em; }

p {
  font-family: "ApexSerif-Book";
  font-size: .8em;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

#second, #third {
  visibility: hidden; }

#loader {
  display: block;
  width: 25vw;
  height: 25vh; }

#loader-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  -webkit-transition-property: opacity, z-index;
  -moz-transition-property: opacity, z-index;
  -o-transition-property: opacity, z-index;
  -ms-transition-property: opacity, z-index;
  transition-property: opacity, z-index;
  -webkit-transition-duration: .3s;
  -moz-transition-duration: .3s;
  -o-transition-duration: .3s;
  -ms-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  transition-timing-function: ease;
  will-change: opacity, z-index; }

.loader-overlay {
  position: relative;
  opacity: 1;
  z-index: 1000; }

.loader-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loaded {
  opacity: 0;
  z-index: -1000; }

.centered {
  text-align: center; }

/* 2. Main Layout ================================= */
html {
  background: #8a71ae; }

html,
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%; }

video,
iframe {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1; }

.logo {
  position: absolute;
  width: 100vw;
  height: 100vh; }

#bottom-nav {
  background: url("../img/bottom-nav.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  left: 50%;
  transform: translate(-50%, -50%); }

section {
  height: 811px;
  width: 3000px;
  float: left; }

/* 3. Content ================================= */
#main-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  -webkit-perspective: 1000;
  perspective: 1000; }

.panel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#panel--one {
  background: url("../img/background.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  overflow-x: hidden; }

#panel--one-second {
  background: url("../img/background1.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  z-index: -1; }

#panel--one-third {
  background: url("../img/background1.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.panel-content-one {
  color: #fff;
  width: auto;
  height: 100%;
  position: relative; }
  .panel-content-one h2 {
    font-size: 34px;
    text-shadow: 3px 3px 0px #1f102f;
    position: absolute;
    top: 210px;
    left: 300px; }
  .panel-content-one p.left {
    font-size: 18px;
    position: absolute;
    top: 305px;
    left: 300px;
    width: 500px;
    line-height: 1.8; }
    .panel-content-one p.left b {
      font-size: 20px;
      font-weight: bold; }
  .panel-content-one h1 {
    font-size: 78px;
    position: absolute;
    top: 131px;
    left: 1500px;
    font-size: 5.1em;
    padding-top: 10px; }
  .panel-content-one h6 {
    font-size: 30px;
    position: absolute;
    top: 111px;
    left: 1500px;
    color: #1f102f; }
  .panel-content-one p.right {
    font-size: 18px;
    position: absolute;
    left: 1500px;
    top: 225px;
    width: 300px;
    color: #1f102f;
    padding-top: 10px;
    line-height: 1.5; }
  .panel-content-one .album-wrap {
    position: absolute;
    height: auto;
    width: auto;
    float: left;
    left: 1600px;
    top: 500px; }
    .panel-content-one .album-wrap .album-1 {
      background: url(../img/album-cover.png);
      background-size: auto auto;
      background-repeat: no-repeat;
      height: 100px;
      width: 100px;
      float: left;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
    .panel-content-one .album-wrap .album-description {
      font-size: 12px;
      line-height: 1.7;
      max-width: 350px;
      color: #2d2d2d;
      float: left;
      padding: 25px; }
  .panel-content-one .album-2 {
    background: url("../img/spaceoddity-cover.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: 2000px;
    top: 350px;
    position: absolute;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .panel-content-one .album-3 {
    background: url("../img/mwstw-cover.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: 2350px;
    top: 350px;
    position: absolute;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.bowie-cutout {
  height: 100%;
  width: 100%;
  background: url("../img/bowie-cutout.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.bowie-shadow {
  height: 100%;
  width: 100%;
  background: url(../img/bowie-shadow.png);
  background-size: auto auto;
  background-repeat: no-repeat;
  z-index: -1;
  left: 50%;
  transform: translate(-14%, -50%); }

.panel-content-2 {
  color: #fff;
  width: auto;
  height: 100%;
  position: relative; }
  .panel-content-2 p.left {
    font-family: "Futura-Bold";
    position: absolute;
    top: 350px;
    left: 250px;
    width: 600px;
    line-height: 2;
    font-size: 21px; }
  .panel-content-2 h3 {
    position: absolute;
    top: 100px;
    left: 1800px; }
  .panel-content-2 h1 {
    position: absolute;
    top: 120px;
    left: 1775px;
    text-shadow: 5px 5px 0px #5273ff;
    font-size: 5.1em; }
  .panel-content-2 p.right:nth-of-type(2) {
    top: 230px;
    left: 1800px;
    font-family: "Futura-Bold"; }
  .panel-content-2 p.right {
    position: absolute;
    top: 600px;
    left: 1500px;
    max-width: 300px;
    line-height: 2;
    font-family: "ApexSerif-Book";
    font-size: 15px; }
  .panel-content-2 h2 {
    position: absolute;
    top: 450px;
    left: 1500px;
    max-width: 350px; }
  .panel-content-2 h5 {
    position: absolute;
    top: 530px;
    left: 1500px; }

.ziggy {
  position: absolute;
  top: 100px;
  left: 300px;
  width: 550px;
  height: 287px;
  background: url(../img/ziggy.png);
  background-size: cover;
  background-repeat: no-repeat; }

.ziggy-cutout {
  height: 100%;
  width: 100%;
  background: url("../img/bowie-sd.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#lightning-big {
  position: absolute;
  width: auto;
  height: auto;
  z-index: -1;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%); }

.costume-1 {
  position: absolute;
  left: 1880px;
  top: 380px;
  height: 100%;
  width: 100%;
  background: url("../img/starman-suit.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.costume-2 {
  position: absolute;
  left: 2080px;
  top: 380px;
  height: 100%;
  width: 100%;
  background: url("../img/poofy-legs.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.costume-3 {
  max-height: 317px;
  position: absolute;
  left: 2360px;
  top: 380px;
  height: 100%;
  width: 100%;
  background: url("../img/jumpsuit.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.panel-content-3 {
  color: #2d2d2d;
  width: auto;
  height: 100%;
  position: relative; }
  .panel-content-3 p {
    font-family: "Futura-Demi";
    font-size: 24px; }
  .panel-content-3 h1 {
    color: #fff;
    font-size: 4em;
    position: absolute;
    top: 120px;
    left: 600px; }
  .panel-content-3 p.left {
    max-width: 475px;
    position: absolute;
    top: 200px;
    left: 620px; }
  .panel-content-3 .song-1 {
    max-width: 500px;
    position: absolute;
    top: 300px;
    left: 550px; }
    .panel-content-3 .song-1 .song-1-img {
      height: 80px;
      width: 80px;
      background: url("../img/oddity-cover.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      float: left; }
    .panel-content-3 .song-1 p {
      float: left;
      padding: 25px; }
    .panel-content-3 .song-1 svg {
      float: left;
      height: 30px;
      width: 30px;
      margin: 15px; }
  .panel-content-3 .song-2 {
    max-width: 500px;
    position: absolute;
    top: 400px;
    left: 550px; }
    .panel-content-3 .song-2 .song-2-img {
      height: 80px;
      width: 80px;
      background: url("../img/hunkydory-cover.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      float: left; }
    .panel-content-3 .song-2 p {
      float: left;
      padding: 25px; }
    .panel-content-3 .song-2 svg {
      float: left;
      height: 30px;
      width: 30px;
      margin: 15px; }
  .panel-content-3 .song-3 {
    max-width: 500px;
    position: absolute;
    top: 500px;
    left: 550px; }
    .panel-content-3 .song-3 .song-3-img {
      height: 80px;
      width: 80px;
      background: url("../img/diamond-dogs.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      float: left; }
    .panel-content-3 .song-3 p {
      float: left;
      padding: 25px; }
    .panel-content-3 .song-3 svg {
      float: left;
      height: 30px;
      width: 30px;
      margin: 15px; }
  .panel-content-3 .song-4 {
    max-width: 500px;
    position: absolute;
    top: 300px;
    left: 1050px; }
    .panel-content-3 .song-4 .song-4-img {
      height: 80px;
      width: 80px;
      background: url("../img/stardust-cover.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      float: left; }
    .panel-content-3 .song-4 p {
      float: left;
      padding: 25px; }
    .panel-content-3 .song-4 svg {
      float: left;
      height: 30px;
      width: 30px;
      margin: 15px; }
  .panel-content-3 .song-5 {
    max-width: 500px;
    position: absolute;
    top: 400px;
    left: 1050px; }
    .panel-content-3 .song-5 .song-5-img {
      height: 80px;
      width: 80px;
      background: url("../img/heroes-cover.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      float: left; }
    .panel-content-3 .song-5 p {
      float: left;
      padding: 25px; }
    .panel-content-3 .song-5 svg {
      float: left;
      height: 30px;
      width: 30px;
      margin: 15px; }
  .panel-content-3 .box {
    width: 700px;
    height: 500px;
    position: absolute; }
  .panel-content-3 .purple-2 {
    top: 120px;
    left: 1740px;
    background: #8a71ae; }
  .panel-content-3 .purple-1 {
    top: 110px;
    left: 1720px;
    background: #442c62; }
  .panel-content-3 .now-playing {
    top: 100px;
    left: 1700px;
    background: #1f102f;
    color: #fff; }
    .panel-content-3 .now-playing h3 {
      text-transform: uppercase;
      text-shadow: 3px 3px 0px #1f102f;
      font-size: 28px;
      text-align: center;
      padding: 25px; }
    .panel-content-3 .now-playing .nowplaying-img {
      height: 157px;
      width: 157px;
      background: url("../img/nowplaying-img.png");
      background-size: auto auto;
      background-repeat: no-repeat;
      transform: translateX(-50%);
      left: 50%;
      position: relative; }
    .panel-content-3 .now-playing h6 {
      font-size: 22px;
      text-align: center;
      padding: 20px; }
    .panel-content-3 .now-playing svg {
      height: 10%;
      width: 10%;
      transform: translateX(-50%);
      left: 39%;
      position: relative; }
    .panel-content-3 .now-playing p {
      font-size: 18px;
      font-family: "Futura-Demi";
      text-align: left;
      padding: 25px;
      line-height: 1.5; }

.panel-content-4 {
  color: #fff;
  width: auto;
  height: 100%;
  position: relative; }
  .panel-content-4 .labyrinth-img {
    background: url(../img/labyrinth-logo.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 157px;
    width: 687px;
    position: absolute;
    top: 36%;
    left: 24%;
    transform: translate(-50%, -50%); }
  .panel-content-4 .labyrinth-text {
    max-width: 687px;
    font-size: 18px;
    font-family: "Futura-Demi";
    text-align: left;
    padding: 25px;
    line-height: 1.5;
    position: absolute;
    top: 60%;
    left: 24%;
    transform: translate(-50%, -50%); }
  .panel-content-4 h1 {
    font-size: 135px;
    text-transform: uppercase;
    position: absolute;
    top: 70px;
    left: 2077px; }
  .panel-content-4 h2 {
    font-family: "FuturaTOT-Demi";
    font-size: 50px;
    text-transform: uppercase;
    position: absolute;
    top: 200px;
    left: 2025px; }
  .panel-content-4 h6 {
    font-family: "ApexSerif-Book";
    font-size: 17px;
    position: absolute;
    top: 260px;
    left: 2025px; }
  .panel-content-4 .jareth-cutout {
    height: 100%;
    width: 100%;
    background: url("../img/jareth-cutout.png");
    background-size: auto auto;
    background-repeat: no-repeat; }
  .panel-content-4 h3 {
    font-family: "Futura-Medi";
    font-size: 38px;
    color: #8a71ae;
    text-transform: uppercase; }
  .panel-content-4 p {
    max-width: 300px;
    font-family: "ApexSerif-Book";
    font-size: 14px; }
  .panel-content-4 .jareth-heading {
    position: absolute;
    top: 560px;
    left: 1680px;
    font-size: 52px; }
  .panel-content-4 .jareth-text {
    position: absolute;
    top: 625px;
    left: 1620px; }
  .panel-content-4 .hoggle {
    max-width: 333px;
    height: auto;
    text-align: left;
    position: absolute;
    top: 110px;
    left: 1200px; }
    .panel-content-4 .hoggle h3 {
      text-align: right; }
    .panel-content-4 .hoggle p {
      max-width: 333px; }
  .panel-content-4 .hoggle-img {
    width: 142px;
    height: 142px;
    background: url("../img/Hoggle.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 110px;
    left: 1540px; }
  .panel-content-4 .ludo {
    max-width: 245px;
    height: auto;
    text-align: left;
    position: absolute;
    top: 285px;
    left: 1131px; }
    .panel-content-4 .ludo h3 {
      text-align: right; }
  .panel-content-4 .ludo-img {
    width: 142px;
    height: 142px;
    background: url(../img/ludo.png);
    background-size: auto auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 285px;
    left: 1380px; }
  .panel-content-4 .worm {
    max-width: 333px;
    height: auto;
    text-align: left;
    position: absolute;
    top: 510px;
    left: 1110px; }
    .panel-content-4 .worm h3 {
      text-align: right; }
    .panel-content-4 .worm p {
      max-width: 333px; }
  .panel-content-4 .worm-img {
    width: 142px;
    height: 142px;
    background: url("../img/worm.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 510px;
    left: 1440px; }
  .panel-content-4 .didymus {
    max-width: 300px;
    height: auto;
    text-align: left;
    position: absolute;
    top: 325px;
    left: 2150px; }
  .panel-content-4 .didymus-img {
    width: 142px;
    height: 142px;
    background: url("../img/sir-didymus.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 320px;
    left: 2000px; }
  .panel-content-4 .sarah {
    max-width: 300px;
    height: auto;
    text-align: left;
    position: absolute;
    top: 525px;
    left: 2125px; }
  .panel-content-4 .sarah-img {
    width: 142px;
    height: 142px;
    background: url("../img/sarah.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    position: absolute;
    top: 525px;
    left: 1965px; }

.logo-2 {
  width: 30vw;
  height: 30vh;
  margin-bottom: -30px; }
  .logo-2:hover {
    cursor: pointer; }

footer {
  color: #fff;
  text-align: center; }
  footer h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    text-shadow: 2.5px 2.5px 0px #8a71ae, 5px 5px 0px #1f102f; }
  footer p {
    font-family: "FuturaTOT-Book";
    font-size: 20px; }
  footer a {
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-transition-property: border-bottom, color;
    -moz-transition-property: border-bottom, color;
    -o-transition-property: border-bottom, color;
    -ms-transition-property: border-bottom, color;
    transition-property: border-bottom, color;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    will-change: border-bottom, color; }
    footer a:hover {
      color: #8a71ae;
      border-bottom: 2px solid #8a71ae; }
  footer input {
    max-width: 375px;
    width: 375px;
    min-height: 50px;
    background-color: rgba(134, 241, 219, 0.5);
    border-radius: 7px;
    border: none;
    display: block;
    margin: 11px auto;
    padding-left: 20px;
    -webkit-transition-property: padding-left, background-color;
    -moz-transition-property: padding-left, background-color;
    -o-transition-property: padding-left, background-color;
    -ms-transition-property: padding-left, background-color;
    transition-property: padding-left, background-color;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    will-change: padding-left, background-color; }
    footer input:focus {
      outline-offset: none;
      outline: none;
      padding-left: 15px;
      background-color: rgba(134, 241, 219, 0.8); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-family: "FuturaTOT-Book"; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-family: "FuturaTOT-Book"; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  font-family: "FuturaTOT-Book"; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-family: "FuturaTOT-Book"; }

#panel--two {
  background: url("../img/background2.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#panel--three {
  background: url("../img/background3.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#panel--four {
  background: url("../img/background4.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#panel--five {
  background: transparent;
  height: 100vh;
  width: 100vw; }

#end {
  opacity: 0; }

#end-2 {
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
