/* 
==============================================
CONTENT:	Spotify Bowie 
AUTHOR:		Gunnar Normand
==============================================

TABLE OF CONTENTS:

1. Imports
2. Main Layout
3. Content

==============================================
*/
/* 1. Imports ================================= */
@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/FuturaTOT-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Futura-Demi';
  src: url("../fonts/FuturaTOT-Demi.otf") format("opentype"); }

@font-face {
  font-family: 'Futura-Medi';
  src: url("../fonts/FuturaTOT-Medi.otf") format("opentype"); }

@font-face {
  font-family: 'ApexSerif-Book';
  src: url("../fonts/ApexSerif_Book.otf") format("opentype"); }

@font-face {
  font-family: 'Futura-Bold';
  src: url("../fonts/FuturaTOT-Bold.otf") format("opentype"); }

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Futura-Bold";
  font-weight: 700;
  text-align: left;
  line-height: 1.5em;
  margin: 0;
  padding: 0; }

h1 {
  text-transform: uppercase;
  font-family: "Futura-Bold";
  text-shadow: 5px 5px 0px #8a71ae, 10px 10px 0px #1f102f;
  font-size: 2.55em;
  line-height: 1.2em; }

h2 {
  font-family: "Futura-Demi";
  font-size: 2em;
  line-height: 1.2em; }

h3 {
  font-size: 1.75em;
  line-height: 1.2em; }

h4 {
  color: #1f102f;
  font-family: inherit;
  font-size: 1.5em;
  line-height: 1.2em; }

h5 {
  font-size: 1.375em;
  line-height: 1.2em; }

h6 {
  font-size: 1.125em;
  line-height: 1.2em; }

p {
  font-family: "ApexSerif-Book";
  font-size: .8em;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

/* 2. Main Layout ================================= */
html,
body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%; }

video,
iframe {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1; }

.logo {
  position: absolute;
  width: 100vw;
  height: 100vh; }

#bottom-nav {
  background: url("../img/bottom-nav.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  left: 50%;
  transform: translate(-50%, -50%); }

section {
  height: 811px;
  width: 3000px;
  float: left; }

/* 3. Content ================================= */
#main-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  -webkit-perspective: 1000;
  perspective: 1000; }

.panel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

#panel--one {
  background: url("../img/background.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  overflow-x: hidden; }

#panel--one-second {
  background: url("../img/background1.png");
  background-size: auto auto;
  background-repeat: no-repeat;
  z-index: -1; }

#panel--one-third {
  background: url("../img/background1.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.panel-content-one {
  color: #fff;
  width: auto;
  height: 100%;
  position: relative; }
  .panel-content-one h2 {
    position: absolute;
    top: 210px;
    left: 300px; }
  .panel-content-one p.left {
    position: absolute;
    top: 305px;
    left: 300px;
    width: 500px;
    line-height: 1.8; }
    .panel-content-one p.left b {
      font-weight: bold; }
  .panel-content-one h1 {
    position: absolute;
    top: 131px;
    left: 1500px;
    font-size: 5.1em; }
  .panel-content-one h6 {
    position: absolute;
    top: 111px;
    left: 1500px;
    color: #1f102f; }
  .panel-content-one h4 {
    position: absolute;
    top: 131px;
    left: 1500px; }
  .panel-content-one p.right {
    position: absolute;
    left: 1500px;
    top: 225px;
    width: 200px;
    color: #1f102f; }
  .panel-content-one .album-wrap {
    position: absolute;
    height: auto;
    width: auto;
    float: left;
    left: 1600px;
    top: 500px; }
    .panel-content-one .album-wrap .album-1 {
      background: url(../img/album-cover.png);
      background-size: auto auto;
      background-repeat: no-repeat;
      height: 100px;
      width: 100px;
      float: left; }
    .panel-content-one .album-wrap .album-description {
      max-width: 350px;
      color: #2d2d2d;
      float: left;
      padding: 25px; }
  .panel-content-one .album-2 {
    background: url("../img/spaceoddity-cover.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: 2000px;
    top: 350px;
    position: absolute; }
  .panel-content-one .album-3 {
    background: url("../img/mwstw-cover.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    left: 2350px;
    top: 350px;
    position: absolute; }

.bowie-cutout {
  height: 100%;
  width: 100%;
  background: url("../img/bowie-cutout.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.bowie-shadow {
  height: 100%;
  width: 100%;
  background: url(../img/bowie-shadow.png);
  background-size: auto auto;
  background-repeat: no-repeat;
  z-index: -1;
  left: 50%;
  transform: translate(-14%, -50%); }

.panel-content-2 {
  color: #fff;
  width: auto;
  height: 100%;
  position: relative; }
  .panel-content-2 p.left {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 500px;
    line-height: 2; }
  .panel-content-2 h3 {
    position: absolute;
    top: 100px;
    left: 1500px; }
  .panel-content-2 h1 {
    position: absolute;
    top: 120px;
    left: 1500px;
    text-shadow: 5px 5px 0px #5273ff;
    font-size: 5.1em; }
  .panel-content-2 p.right:nth-of-type(2) {
    top: 230px;
    line-height: 2; }
  .panel-content-2 p.right {
    position: absolute;
    top: 640px;
    left: 1500px;
    max-width: 300px; }
  .panel-content-2 h2 {
    position: absolute;
    top: 450px;
    left: 1500px;
    max-width: 250px; }
  .panel-content-2 h5 {
    position: absolute;
    top: 600px;
    left: 1500px; }

#ziggy {
  position: absolute;
  top: -500px;
  left: -500px; }

.ziggy-cutout {
  height: 100%;
  width: 100%;
  background: url("../img/bowie-sd.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.costume-1 {
  position: absolute;
  left: 1850px;
  top: 380px;
  height: 100%;
  width: 100%;
  background: url("../img/starman-suit.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.costume-2 {
  position: absolute;
  left: 2000px;
  top: 380px;
  height: 100%;
  width: 100%;
  background: url("../img/poofy-legs.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

.costume-3 {
  max-height: 317px;
  position: absolute;
  left: 2250px;
  top: 380px;
  height: 100%;
  width: 100%;
  background: url("../img/jumpsuit.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#panel--two {
  background: url("../img/background2.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#panel--three {
  background: url("../img/background3.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#panel--four {
  background: url("../img/background4.png");
  background-size: auto auto;
  background-repeat: no-repeat; }

#end {
  opacity: 0; }

/*# sourceMappingURL=main.css.map */
