@font-face {
    font-family: 'Futura-Bold';
    src: url('../fonts/FuturaTOT-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Futura-Demi';
    src: url('../fonts/FuturaTOT-Demi.otf') format('opentype');
}

@font-face {
    font-family: 'Futura-Medi';
    src: url('../fonts/FuturaTOT-Medi.otf') format('opentype');
}

@font-face {
    font-family: 'ApexSerif-Book';
    src: url('../fonts/ApexSerif_Book.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaTOT-Demi';
    src: url('../fonts/FuturaTOT-Demi.otf') format('opentype');
}

@font-face {
    font-family: 'FuturaTOT-Book';
    src: url('../fonts/FuturaTOT-Book.otf') format('opentype');
}


