// breakpoints
$larger-than-ipad-breakpoint: 'only screen and (min-width : 768px)';


// colors
$dark-purple: #1f102f;
$light-purple: #8a71ae;
$mint-green: #86f1db;
$medium-purple: #442c62;
$blue: #5273ff;
$red: #e82e25;
$black: #2d2d2d;
$white: #fff;

// fonts
$main-heading: 'Futura-Bold';
$lowercase-heading: 'Futura-Demi';
$subheading-uppercase: 'Futura-Medi';
$paragraph: 'ApexSerif-Book';
$charttoppers-music-text: 'Futura-Bold';
$labyrinth: 'FuturaTOT-Demi';
$form-text: 'FuturaTOT-Book';




// text-shadow: 10px 10px 0px #8a71ae,
// 			 20px 20px 0px #1f102f;



